In [29]:
# Import libraries
import numpy as np 
import matplotlib.pyplot as plt
import copy
import math
%matplotlib inline 
import pandas as pd
import seaborn as sns

In [30]:
# load data, store in pandas dataframe
filepath = r'C:\Users\brenn\VSCode Projects\Class Scheduler Project\backend.0\data\grade_distributions.csv'
df = pd.read_csv(filepath)

df.head()

,Academic Year,Term,Subject,Course No.,Course Title,Instructor,GPA,A (%),A- (%),B+ (%),...,C (%),C- (%),D+ (%),D (%),D- (%),F (%),Withdraws,Graded Enrollment,CRN,Credits
0,2023-24,Spring,BMVS,6094,Board Certification Topics,Keebaugh,3.80,60.0,20.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,5,12122,1
1,2023-24,Spring,MUS,2214,Class Applied Piano,Baldwin,3.80,80.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,5,18313,1
2,2022-23,Spring,MUS,2244,Class Applied Woodwinds,Bartlett,4.00,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,5,18286,1
3,2022-23,Fall,PPWS,5214,Diseases of Crop Plants,Baudoin,3.42,0.0,60.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,5,89219,1
4,2023-24,Fall,MSE,3324,Elementary Metal Casting Lab,Druschitz,3.86,80.0,0.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,5,88101,1

In [31]:
# Preprocess data

df["Instructor_label"], instructors = pd.factorize(df["Instructor"]) # Factorize the Instructor column (label encode)

columns_to_drop = ['GPA', 'A (%)', 'A- (%)', 'B+ (%)', 'B (%)', 'B- (%)', 'C+ (%)', 'C (%)', 'C- (%)', 
                   'D+ (%)', 'D (%)', 'D- (%)', 'F (%)', 'Withdraws', 'Graded Enrollment', 'Instructor']

df = df.drop(columns=columns_to_drop)

categorical_columns = ['Academic Year', 'Term', 'Subject', 'Course Title'] # Columns that are categorical

df = pd.get_dummies(df, columns=categorical_columns) # One-hot encode the categorical columns

df.head()

,Course No.,CRN,Credits,Instructor_label,Academic Year_2022-23,Academic Year_2023-24,Term_Fall,Term_Spring,Subject_AAD,Subject_AAEC,...,Course Title_Writing Skills for Prof Hist I,Course Title_Writing and Digital Media,Course Title_Writing and Editing for PR,Course Title_Writing and Social Justice,Course Title_Writing for Podcasts,"Course Title_Wrtng, Research, Study Abroad",Course Title_X-Ray Crystallography,Course Title_X-ray Crystallography,Course Title_XAI Domain Insights,Course Title_Youth Program Management
0,6094,12122,1,0,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2214,18313,1,1,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2244,18286,1,2,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,5214,89219,1,3,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,3324,88101,1,4,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [34]:
# Seperate data into features and target

X_train = df.drop(columns=["Instructor_label"]).to_numpy() # Convert dataframe to numpy array of features
y_train = df["Instructor_label"].to_numpy() # Convert dataframe to numpy array of target

In [ ]:
def compute_gradient